[submodule "impl/kyber"]
	path = impl/kyber
	url = https://github.com/pq-crystals/kyber.git
[submodule "impl/kybesp32"]
	path = impl/kybesp32
	url = https://github.com/fsegatz/kybesp32.git
[submodule "impl/liboqs"]
	path = impl/liboqs
	url = https://github.com/open-quantum-safe/liboqs.git
[submodule "impl/PQClean"]
	path = impl/PQClean
	url = https://github.com/PQClean/PQClean.git
[submodule "impl/mbedtls"]
	path = impl/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "impl/idf"]
	path = impl/idf
	url = https://github.com/david-cermak/esp-idf.git
